<article>
    <h1>Private Info</h1>

    <div>
        <label>username</label>
        <p class="text">{{UN}}</p>
    </div>
    
    <div>
        <label>First Name</label>
        <p class="text">{{FN}}</p>
    </div>

    <div>
        <label>Last Name</label>
        <p class="text">{{LN}}</p>
    </div>

    <div>
        <label>Profession</label>
        <p class="text">{{PR}}</p>
    </div>

    <div>
        <label>Bio</label>
        <p class="text">{{BI}}</p>
    </div>

    <div class="form-group">
        <a href="/logout">return to login</a>
    </div>

</article>